header{
  display: flex;
  justify-content: center;
  gap:300px;
}
a{
 text-decoration: none;
 margin-right: 50px;
 color: rgb(139, 103, 55);
 font-weight: bold;
}
.div2 {
  padding-top: 40px;
  font-size: 20px;
  
}
.div3{
  padding-top: 35px;
}
header button{
  padding: 9px 26px;
  border: none;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(168, 137, 96);
  transition: 0.5s;
  color: white;
  font-weight: bold;
}
header button:hover{
  background-color: rgb(227, 188, 136);
  border-radius: 20px;
  color: black;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
main{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}
span{
  color: rgb(139, 103, 55);
}
main h1{
  font-size: 75px
}
main p{
  font-size: 20px;
  font-weight: bold;
}
main img{
  border-radius: 20px;
}
main button{
  padding: 9px 26px;
  border: none;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(168, 137, 96);
  transition: 0.5s;
  color: white;
  font-weight: bold;
}
main button:hover{
  background-color: rgb(227, 188, 136);
  border-radius: 20px;
  color: black;
}
.why{
  display: flex;
  gap: 60px;
  justify-content: center;
}
.card{
  margin-top: 50px;
  display: flex;
  text-align: center;
  gap: 100px;
  margin-bottom: 80px;
}
.card div{
  box-shadow: 2px 3px 10px grey;
  width: 8cm;
  height: 5cm;
  border-radius: 20px;
  border: none;
}
.card img{
  margin-top: 25px;
} 
footer{
  display: flex;
  gap: 120px;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(168, 137, 96);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.cardi{
  margin-left: 290px;
}
footer img{
  border-radius: 70px;
  box-shadow: 3px 3px 40px  rgb(214, 204, 148);
}
.main1 img{
  border-radius: 50px;
   
} 
.main1 div{
  box-shadow: 2px 2px 30px grey;
  border-radius: 20px;
  padding: 25px 35px 40px;
  border: none;
  width: 8cm;
  height: 12cm;
  transition: 0.3s ease-in-out;
}
.main1 div:hover{
  transform: translateY(-4px);
  box-shadow: 2px 5px 40px rgb(168, 137, 96);
  border-radius: 25px;
  background-color: rgb(248, 240, 229);
}
.main1 div button{
   padding: 9px 26px;
  border: none;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(168, 137, 96);
  transition: 0.5s;
  color: white;
  font-weight: bold;
  
}
.main1 button:hover{
  background-color: rgb(227, 188, 136);
  border-radius: 20px;
  color: black;
}
.main1{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 80px;
  margin-left: 70px;
  gap: 140px;
  margin-right: 70px;
}
.main2{
  margin-bottom: 80px;
  margin-top: 50px;
  gap: 180px;
}
.card2{
  margin-top: 50px;
  display: flex;
  text-align: center;
  gap: 100px;
  margin-bottom: 80px;
  margin-left: 180px;
  margin-right: 180px;
}
.card2 div{
    box-shadow: 2px 3px 10px grey;
  width: 8cm;
  height: 5cm;
  border-radius: 20px;
  border: none;
}
.card2 img{
  margin-top: 25px;
} 
.main3 .cont{
  margin-top: 40px;
  margin-bottom: 200px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    padding: 13px 55px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 5px 10px rgb(187, 186, 186) ;
    transition: 0.5s;
}
label{
    margin-right:22px;
    font-size: 19px;
}
input:focus{
    transform: translate(4px);
  box-shadow: 1px 2px 13px   rgb(235, 188, 128);
  border-radius: 16px;
}
.main3{
  gap: 200px;
  margin-bottom: 60px;
  font-weight: bold;
}